<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/paulprod</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <mapping class="de.affinis.pauline.hbm.HAuftragMitarbeiterAssignmentId"/>
    <mapping class="de.affinis.pauline.hbm.ImpJira"/>
    <mapping class="de.affinis.pauline.hbm.HAuftragUserAssignment"/>
    <mapping class="de.affinis.pauline.hbm.HRechnungspositionen"/>
    <mapping class="de.affinis.pauline.hbm.HUserRoleInAuftragAssoc"/>
    <mapping class="de.affinis.pauline.hbm.Abrart"/>
    <mapping class="de.affinis.pauline.hbm.Affinisgesellschaft"/>
    <mapping class="de.affinis.pauline.hbm.Mitarbeiter"/>
    <mapping class="de.affinis.pauline.hbm.KondDwId"/>
    <mapping class="de.affinis.pauline.hbm.HSecurityright"/>
    <mapping class="de.affinis.pauline.hbm.KondJahr"/>
    <mapping class="de.affinis.pauline.hbm.AufgabeMaAssocAuditTrail"/>
    <mapping class="de.affinis.pauline.hbm.Tantiemengueltigkeit"/>
    <mapping class="de.affinis.pauline.hbm.Kundengruppe"/>
    <mapping class="de.affinis.pauline.hbm.KondVariabelPos"/>
    <mapping class="de.affinis.pauline.hbm.HRkImport"/>
    <mapping class="de.affinis.pauline.hbm.Geschaeftsfeld"/>
    <mapping class="de.affinis.pauline.hbm.KondSozVers"/>
    <mapping class="de.affinis.pauline.hbm.HUseraccountHasUsergroup"/>
    <mapping class="de.affinis.pauline.hbm.HUseraccountHasSecurityroleId"/>
    <mapping class="de.affinis.pauline.hbm.HRoleInAuftrag"/>
    <mapping class="de.affinis.pauline.hbm.AufgabeMaAssocId"/>
    <mapping class="de.affinis.pauline.hbm.HEinsatzplan"/>
    <mapping class="de.affinis.pauline.hbm.Tantiemen"/>
    <mapping class="de.affinis.pauline.hbm.Status"/>
    <mapping class="de.affinis.pauline.hbm.Makosten"/>
    <mapping class="de.affinis.pauline.hbm.HZahlplan"/>
    <mapping class="de.affinis.pauline.hbm.HZeiterfassung"/>
    <mapping class="de.affinis.pauline.hbm.Version"/>
    <mapping class="de.affinis.pauline.hbm.KondDw"/>
    <mapping class="de.affinis.pauline.hbm.HAuftragMitarbeiterAssignment"/>
    <mapping class="de.affinis.pauline.hbm.Branche"/>
    <mapping class="de.affinis.pauline.hbm.EinsatzplanIstEinheiten"/>
    <mapping class="de.affinis.pauline.hbm.KondGehalt"/>
    <mapping class="de.affinis.pauline.hbm.LeSpalte"/>
    <mapping class="de.affinis.pauline.hbm.HAuftrag"/>
    <mapping class="de.affinis.pauline.hbm.Gp"/>
    <mapping class="de.affinis.pauline.hbm.Leistungseinheit"/>
    <mapping class="de.affinis.pauline.hbm.HUseraccountHasUsergroupId"/>
    <mapping class="de.affinis.pauline.hbm.HUseraccountHasSecurityrole"/>
    <mapping class="de.affinis.pauline.hbm.LeistungseinheitMinmaxAssoc"/>
    <mapping class="de.affinis.pauline.hbm.HUsergroup"/>
    <mapping class="de.affinis.pauline.hbm.Kostenstelle"/>
    <mapping class="de.affinis.pauline.hbm.HAuftragMitarbeiterAssignmentAuditTrail"/>
    <mapping class="de.affinis.pauline.hbm.HAuftragUserAssignmentId"/>
    <mapping class="de.affinis.pauline.hbm.HUseraccount"/>
    <mapping class="de.affinis.pauline.hbm.Arbeitstage"/>
    <mapping class="de.affinis.pauline.hbm.HSecurityrole"/>
    <mapping class="de.affinis.pauline.hbm.AufgabeMaAssoc"/>
    <mapping class="de.affinis.pauline.hbm.LeWert"/>
    <mapping class="de.affinis.pauline.hbm.MinMaxLe"/>
    <mapping class="de.affinis.pauline.hbm.AuftragMaVorgabenAuditTrail"/>
    <mapping class="de.affinis.pauline.hbm.AuftragMaVorgaben"/>
    <mapping class="de.affinis.pauline.hbm.HEinsatzplanAuditTrail"/>
    <mapping class="de.affinis.pauline.hbm.HAufgabe"/>
    <mapping class="de.affinis.pauline.hbm.KondHonorar"/>
    <mapping class="de.affinis.pauline.hbm.Benutzer"/>
    <mapping class="de.affinis.pauline.hbm.PMassnahme"/>
    <mapping class="de.affinis.pauline.hbm.PUseraccount"/>
    <mapping class="de.affinis.pauline.hbm.PUserrole"/>
    <mapping class="de.affinis.pauline.hbm.PQKriterienVorlage"/>
    <mapping class="de.affinis.pauline.hbm.PQKriterium"/>
    <mapping class="de.affinis.pauline.hbm.PQProjekt"/>
    <mapping class="de.affinis.pauline.hbm.PQObjekt"/>
    <mapping class="de.affinis.pauline.hbm.PQObjektVorlage"/>
    <mapping class="de.affinis.pauline.hbm.PStatus"/>
  </session-factory>
</hibernate-configuration>
